/* Tema claro (padrão) */
:root {
    --background: #fff;
    --backgroundAlt: #FFFCF1;
    --backgroundAltSecundary: #e3e0d5;
    --primary: #A479D2;
    --primaryAlt: #8c65b4;
    --txtPrimary: #D1BBE8;
    --bgPrimary: #a479d240;
    --text: #2b2b2b;
    --textAlt: #2b2b2b91;
    --secondary: #ffba25;
    --secondaryAlt: #ca941e;
    --bgSecondary: rgba(255, 203, 91, 0.25);
    --shadow: rgba(0, 0, 0, 0.25);
    --success: #7AC6AD;
    --error: #C96567;
}

/* Tema escuro */
[data-theme=dark] {
    --shadow: rgba(0, 0, 0, 0.25);
    --background: #2b2b2b;
    --backgroundAlt: #1d1d1d;
    --backgroundAltSecundary: #4b4a4a;
    --text: #FFFCF1;
    --textAlt: #fffcf181;
    --primary: #FFEA98;
    --primaryAlt: #d0bf7b;
    --bgPrimary: rgba(255, 203, 91, 0.25);
    --secondary: #B389DF;
    --secondaryAlt: #8d6bb1;
    --txtSecondary: #CAACE9;
    --bgSecondary: rgba(164, 121, 210, 0.25);
    --success: #9ADAC5;
    --error: #EB9798;
}